{% extends "layout.html" %}
{% block nav %}
<ul>
    <li><a href="index.html#">About modENCODE</a></li>
    <li><a href="index.html#">Project Mission</a></li>
    <li><a href="index.html#">Contact Us</a></li>
    <li><a href="index.html#">Team Members</a></li>
    <li class="last"><a href="index.html#">Latest News</a></li>
</ul>
{% endblock %}

{% block body %}
<aside>
    <ul>
        <li class="active"><span class="genus">Drosophila</span> Genome</li>
        <li><span class="genus">C. Elegans</span> Features</li>
        <li>Fly Network Graphs</li>
        <li>Gene Ontology Terms</li>
    </ul>
</aside>

<div id="content">
    <div class="title-box">
        <div class="black-box">
            <h2><span class="genus">Drosophila</span> Genome</h2>
            <p>Lorem ipsum dolor sit amet, consecteur adipiscing elit. Viva mus pulvinar volutpat turpis, eget vene
                natis elit co modo ut. Maecenas tortor justo.</p>

        </div>
    </div>

    <div class="yellow-box">
        <h3><span class="genus">Drosophila Melanogaster</span></h3>
        <ul>
            <li><a href="index.html#">Lorem ipsum dolor sit amet, consecteur</a></li>
            <li><a href="index.html#">Adipiscing elit viva</a></li>
            <li><a href="index.html#">Mus pulvinar colutpat turpis eget</a></li>
            <li><a href="index.html#">Natis elit co modo ut</a></li>
            <li><a href="index.html#">Maecenas tortot justo</a></li>
        </ul>
    </div>

    <div class="yellow-box">
        <h3><span class="genus">Caenorhabditis Elegans</span></h3>

        <ul>
            <li><a href="index.html#">Lorem ipsum dolor sit amet, consecteur</a></li>
            <li><a href="index.html#">Adipiscing elit viva</a></li>
            <li><a href="index.html#">Mus pulvinar colutpat turpis eget</a></li>
            <li><a href="index.html#">Natis elit co modo ut</a></li>
            <li><a href="index.html#">Maecenas tortot justo</a></li>
        </ul>
    </div>
</div>
{% endblock %}