{% extends "layout.html" %}
{% block nav %}
<ul>
    <li><a href="index.html#">About modENCODE</a></li>
    <li><a href="index.html#">Project Mission</a></li>
    <li><a href="index.html#">Contact Us</a></li>
    <li><a href="index.html#">Team Members</a></li>
    <li class="last"><a href="index.html#">Latest News</a></li>
</ul>
{% endblock %}

{% block body %}

<aside>
    <ul>
    {%- for category in data.categories -%}
        <li target="category-{{ loop.index }}"
        {% if loop.first %}class="active"{% endif %}>{{ category.category }}</li>
    {%- endfor -%}
    </ul>
</aside>

<div id="content">
    {%- for category in data.categories -%}
    <div class="category" id="category-{{ loop.index }}" {% if not loop.first %}style="display:none;"{% endif %}>
        <ul class="switcher">
        {%- for organism in category.organisms -%}
            <li target="organism-{{ loop.index }}" {% if loop.first %}class="active"{% endif %}">{{ organism.organism }}</li>
        {%- endfor -%}
        </ul>

        {%- for organism in category.organisms -%}
        <div class="organism" id="organism-{{ loop.index }}" {% if not loop.first %}style="display:none;"{% endif %}>
            <ul class="experiments">
                {%- for experiment in organism.experiments -%}
                <li>{{ experiment.experiment_title }}</li>
                {%- endfor -%}
            </ul>
        </div>
        {%- endfor -%}
    </div>
    {%- endfor -%}
</div>

<script type="text/javascript">
    $("aside ul li").click(function() {
        $("aside ul li.active").removeClass('active');
        $("#content div.category:visible").hide();
        $("#" + $(this).attr('target')).show();
        $(this).addClass('active');

        if ($("#" + $(this).attr('target') + " ul.switcher li.active").length < 1) {
            $("#" + $(this).attr('target') + " ul.switcher li:first").addClass('active');
        }

        $("#content div.category div.organism").hide();
        $("#content #" + $("#" + $(this).attr('target') + " ul.switcher li.active").attr('target')).show();
    });

    $("#content ul.switcher li").click(function() {
        $("#content ul li.active").removeClass('active');
        $("#content div.organism:visible").hide();
        $("#content #" + $(this).attr('target')).show();
        $("#content ul li[target='" + $(this).attr('target') + "']").addClass('active');
    });
</script>

{% endblock %}