{% extends "layout.html" %}
{% block nav %}
<ul>
    <li><a href="index.html#">About modENCODE</a></li>
    <li><a href="index.html#">Project Mission</a></li>
    <li><a href="index.html#">Contact Us</a></li>
    <li><a href="index.html#">Team Members</a></li>
    <li class="last"><a href="index.html#">Latest News</a></li>
</ul>
{% endblock %}

{% block body %}
<aside>
    <ul>
        {% for tab in data.tabs %}
            <li target="#tab-{{ loop.index }}.tab" id="tab-link-{{ loop.index }}"
            {% if loop.first %}class="active"{% endif %}>{{ tab.title }}</li>
        {% endfor %}
    </ul>
    <script type="text/javascript">
        $("aside ul li").click(function() {
            $("aside ul li.active").removeClass('active');
            $("#content div.tab:visible").hide();
            $($(this).attr('target')).show();
            $(this).addClass('active');
        });
    </script>
</aside>

<div id="content">
    {% for tab in data.tabs %}
        <div class="tab" id="tab-{{ loop.index }}" {% if not loop.first %}style="display:none;"{% endif %}>
            <div class="title-box">
                <div class="black-box">
                    <h2>{{ tab.title }}</h2>
                    <p>{{ tab.description }}</p>

                </div>
            </div>

            {% for box in tab.boxes %}
                <div class="yellow-box">
                    <h3>{{ box.title }}</h3>
                    <ul>
                        {% for link in box.links %}
                            <li><a href="{{ link.href }}">{{ link.text }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}