{% extends "layout.html" %}

{% block body %}
<div id="callout-boxes">
    <div class="box modmine">
        <header>
            <a target="new" href="{{ INTERMINE_URL }}query" title="Latest modMine">
                <h3>modMine</h3>
                <div class="latest">
                    <span>release</span>
                    <span class="version">{{ MODMINE_REL[0] }}</span>
                </div>
            </a>
        </header>
        <div>
            <h4>Older versions:</h4>
            <p>
                {% for rel in MODMINE_REL %}
                    <a class="size-{{ loop.index }}" target="new" href="{{ INTERMINE_URL }}/release-{{ rel }}">{{ rel }}</a>
                    {%- if not loop.last %},{% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="box amazon">
        <header>
            <div class="button"><a class="amaranth" target="new" href="{{ DATASET_SEARCH_URL +  CLOUD_PAGE }}">Cloud instance</a></div>
            <h3>amazon</h3>
        </header>
        <div>
            <p>The entire modENCODE data set available for analysis in the Amazon compute cloud.</p>
        </div>
    </div>
    <div class="box datasets">
        <header>
            <div class="button"><a class="blumine" target="new" href="{{ DATASET_SEARCH_URL }}">Datasets</a></div>
            <h3>Dataset Search</h3>
        </header>
        <div>
            <p>Find, view and download datasets in bulk.</p>
        </div>
    </div>
    <div class="box ftp">
        <header>
            <div class="button"><a class="blumine" target="new" href="{{ FTP_URL }}">Get FTP data</a></div>
            <h3>FTP Download</h3>
        </header>
        <div>
            <p>Download publicly released data using the traditional FTP interface.</p>
        </div>
    </div>

    <div class="clear"></div>

    <div class="organisms">
        <header>
            <p>Choose an organism below to see GBrowse, Dataset Search links:</p>
        </header>
        <div class="bottom">
            <div class="logos">
                <a class="oicr">OICR</a>
                <a class="gbrowse">GBrowse</a>
                <div class="clear"></div>
            </div>
            <ul>
                <li class="worm">C. elegans</li>
                <li class="fly push">D. melanogaster</li>
                <li class="fly_ananas">D. ananassae</li>
                <li class="fly_dmoj">D. mojavensis</li>
                <li class="fly_dp">D. pseudoobscura</li>
                <li class="fly_simul">D. simulans</li>
                <li class="fly_virilis">D. virilis</li>
                <li class="fly_yakuba">D. yakuba</li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script>
    $('#callout-boxes div.organisms ul li').click(function() {
        // hide the actions box
        $(this).parent().find('div.actions').remove();
        // are we activating an actions box?
        if (! $(this).hasClass('active')) {
            // make all inactive
            $('#callout-boxes div.organisms ul li').removeClass('active');
            // make this active
            $(this).addClass('active');
            // create the actions box
            var that = this;
            jQuery('<div/>', {
                'class': 'actions'
            })
            .append(jQuery('<div/>', {
                'class': 'button',
                html: jQuery('<a/>', {
                    target: 'new',
                    href: function() {
                        // link to GBrowse
                        return '{{ GBROWSE_URL }}' + $(that).attr('class').replace('push', '')
                        .replace('active', '').replace(/ /g,'');
                    }(),
                    'class': 'amaranth',
                    html: '<span>View in</span> GBrowse'
                })
            }))
            .append(jQuery('<div/>', {
                'class': 'button',
                html: jQuery('<a/>', {
                    target: 'new',
                    href: function() {
                        // link to Dataset Search
                        return '{{ DATASET_SEARCH_URL }}?Organism=' + $(that).text();
                    }(),
                    'class': 'blumine',
                    html: '<span>Search for</span> Datasets'
                })
            }))
            .appendTo(that);
        } else {
            $(this).removeClass('active');
        }
    });
</script>

<div id="modmine-projects">
    <h3>Browse Projects</h3>

    <div class="box">
        <aside>
            <ul>
            {%- for category in data.categories -%}
                <li target="category-{{ loop.index }}"
                {% if loop.first %}class="active"{% endif %}>{{ category.category }}</li>
            {%- endfor -%}
            </ul>
        </aside>

        <div id="content">
            {%- for category in data.categories -%}
            <div class="category" id="category-{{ loop.index }}" {% if not loop.first %}style="display:none;"{% endif %}>
                <ul class="switcher">
                {% set organisms = category.organisms|empty_organisms_filter %}
                {%- for organism in organisms -%}
                    <li class="{{ organism.organism|slugify }}{% if loop.first %} active{% endif %}"
                        target="organism-{{ loop.index }}"><span>{{ organism.organism }}</span></li>
                {%- endfor -%}
                </ul>
                <div class="separator"></div>

                {%- for organism in organisms -%}
                <div class="organism organism-{{ loop.index }}" {% if not loop.first %}style="display:none;"{% endif %}>
                    {% set pis = organism.experiments|pi_filter %}
                    {% if pis|count > 1 %}
                    <div class="filter">
                        <span>Filter by Pi:</span>
                        <ul>
                            <li class="selected">Show all</li>
                            {% for pi in pis %}
                                <li>{{ pi }}</li>
                            {% endfor %}
                        </ul>
                        <div class="clear"></div>
                    </div>
                    {% endif %}

                    <ul class="experiments">
                        {%- for experiment in organism.experiments -%}
                        <li>
                            <div class="project">{{ experiment.project_name|italics|safe }}</div>
                            <h4>
                                <a href="{{ INTERMINE_URL }}query/experiment.do?experiment={{ experiment.experiment_name|url_encode }}" target="_blank">
                                    {{ experiment.experiment_name|italics|safe }}
                                </a>
                            </h4>
                            <div class="meta">
                                <div class="pi" title="{{ experiment.pi }}"><span>Pi:</span> {{ experiment.pi }}</div>
                                <div class="labs"><span>Labs:</span>&nbsp;
                                    {%- for lab in experiment.labs -%}{{ lab }}{% if not loop.last %}, {% endif %}{%- endfor -%}
                                </div>
                                <div class="submissions"><span>Submissions:</span> {{ experiment.submission_count }}</div>
                                {% if experiment.factor_types|count > 0 %}
                                <div class="factors"><span>Experimental factors:</span>&nbsp;
                                    {%- for factor in experiment.factor_types -%}{{ factor }}{% if not loop.last %}, {% endif %}{%- endfor -%}
                                </div>
                                {% endif %}
                                {% if experiment.features %}
                                <div class="features"><span>Features:</span>&nbsp;
                                    {%- for feature in experiment.features -%}
                                        <a href="{{ INTERMINE_URL }}query/features.do?type=experiment&action=results&experiment=
                                            {{- experiment.experiment_name|italics|safe }}&feature={{ feature.feature_type }}"
                                           target="_blank">
                                            {{- feature.feature_type }}: {{ feature.feature_counts -}}
                                        </a>{% if not loop.last %}, {% endif %}
                                    {%- endfor -%}
                                </div>
                                {% endif %}
                                {% if experiment.gbrowse_tracks|count > 0 %}
                                <div class="tracks"><span>GBrowse Tracks:</span>
                                    <a href="{{ GBROWSE_URL }}{{ experiment.gbrowse_tracks.track_link }}" target="_blank">
                                        {{ experiment.gbrowse_tracks.track_counts }}
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </li>
                        {%- endfor -%}
                    </ul>
                </div>
                {%- endfor -%}
            </div>
            {%- endfor -%}
        </div>
        <div class="clear"></div>
    </div>
</div>

<script>
    // control the project tabs on the left
    $("aside ul li").click(function() {
        var category = $(this).attr('target');
        // no left tabs are active now
        $("aside ul li.active").removeClass('active');
        // any current category is not visible anymore
        $("#content div.category:visible").hide();
        // show #category-2 etc.
        $("#" + category).show();
        // make the left tab active
        $(this).addClass('active');

        // make the first organism tag active if the second organism is not present in the current category
        if ($("#" + category + " ul.switcher li.active").length < 1) {
            $("#" + category + " ul.switcher li:first").addClass('active');
        }

        // hide all experiments for all organisms first
        $("#content div.category div.organism").hide();
        // show the experiments being targeted by the active organism tab
        $("#content #" + category + " div.organism." + $("#" + category + " ul.switcher li.active").attr('target')).show();
    });

    // control the organism tabs in a given category
    $("#content ul.switcher li").click(function() {
        var organism = $(this).attr('target');
        $("#content ul li.active").removeClass('active');
        $("#content div.organism:visible").hide();
        $("#content div.organism." + organism).show();
        $("#content ul li[target='" + organism + "']").addClass('active');
    });

    // control the pi filter for a given category organism
    $("#content div.filter ul li").click(function() {
        // no filter is active at the moment (even the 'show all' one)
        $(this).parent().find('li').removeClass('selected');
        // set the current filter as active and fetch the pi we are filtering by
        var pi = $(this).addClass('selected').text().replace(/ /g,''); // strip whitespace IE7
        // go 3 parents up and find the list with all the experiments
        var experiments = $(this).parents(':eq(2)').find("ul.experiments");
        // are we showing them all?
        if (pi == 'Showall') { // for stupid IE7 purposes
            experiments.show().find('li').show();
        } else {
            // traverse the experiments and show only those that have the selected pi
            experiments.find('li').each(function(index) {
                if ($(this).find('div.pi').attr('title').replace(/ /g,'') == pi) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }
    });
</script>

{% endblock %}

{% block gallery %}
<section id="gallery">
    <div class="wrap">
        <h3>modENCODE publications</h3>
        <div class="move right"></div>
        <div class="move left inactive"></div>
        <div class="inner">
            <div class="publications">
                {% set articles = modencode_publications|flatten_publications %}
                <div class="wrapper" style="width:{{ articles|length *  316 }}px">
                    <div class="set">
                    {% for article in articles %}
                        {% if loop.index0 is divisibleby(3) and not loop.last and not loop.first -%}
                            </div><div class="set">
                        {%- endif %}
                        <div class="article">
                            <a href="http://dx.doi.org/{{ article.doi }}" target="new">
                                <img src="{{ url_for('static', filename='img/journals/' + article|article_image + '.jpg') }}" />
                                <h4 class="{% if article.title|length > 150 %}small{% endif %}">{{ article.title|italics|safe }}</h4>
                                <p title="{{ article.full_authors }}">{{ article.full_authors|shorten_authors(article.title)|safe }}</p>
                                <p><i>{{ article.journal }}</i>, <strong>{{ article.vol }}</strong>, pp {{ article.page }}, doi: {{ article.doi }}</p>
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>

            <ul class="switchers">
                {% for foo in range(articles|length // 3) -%}
                    <li class="set-{{ foo }}{% if loop.first %} current{% endif %}">&bull;</li>
                {% endfor %}
            </ul>
        </div>
        <div class="clear"></div>
        <div class="see-more"></div>
    </div>
</section>
<script>
    // change the width of the gallery articles in IE
    if ($.browser.msie) $('section#gallery div.article').css('width', '300px').find('a').children('h4, p').css('width', '242px');

    (function() {
        // updates the gallery
        function moveGallery(distance, speed) {
            if (!speed) speed = 500;

            // hide the tooltip
            $("section#gallery div.see-more").remove();

            // show arrow controls?
            function directionControls() {
                if ($("section#gallery div.set:not(:visible)").length > 0) {
                    $("section#gallery div.move.left").removeClass('inactive'); // show <
                } else {
                    $("section#gallery div.move.left").addClass('inactive'); // hide <
                }
                if ($("section#gallery div.set:visible").length <= 1) {
                    $("section#gallery div.move.right").addClass('inactive'); // hide >
                } else {
                    $("section#gallery div.move.right").removeClass('inactive'); // show >
                }
            }

            // update individual article switchers as we move
            function updateSwitchers(n) {
                n += parseInt($("section#gallery ul.switchers li.current").attr('class').match(/\d+/));
                $("section#gallery ul.switchers li.current").removeClass('current');
                $("section#gallery ul.switchers li.set-" + n).addClass('current');
            }

            // scroll to next/previous; queue events for animate() to work
            var queue = new Array(Math.abs(distance));
            for (i = 0; i < Math.abs(distance); i++) queue[i] = (distance > 0) ? 1 : -1;
            deQueue();
            function deQueue() {
                if (queue.length > 0) {
                    if (queue.pop() > 0) { // >
                        $("section#gallery div.set:not(:hidden):first").animate({
                            marginRight: "-=948px"
                        },
                        speed,
                        function() {
                            $(this).hide();
                            directionControls();
                            updateSwitchers(1);
                            deQueue();
                        });
                    } else { // <
                        $("section#gallery div.set:not(:visible):last").show().animate({
                            marginRight: "+=948px"
                        },
                        speed,
                        function() {
                            directionControls();
                            updateSwitchers(-1);
                            deQueue();
                        });
                    }
                }
            }
        }

        // arrow <,> controls events (scroll to next/previous set)
        $("section#gallery div.move").click(function() {
            if ($(this).hasClass('right')) {
                moveGallery(1);
            } else {
                moveGallery(-1);
            }
        });

        // individual switchers *,* events
        $("section#gallery ul.switchers li").click(function() {
            var n = parseInt($(this).attr('class').match(/\d+/))
            - parseInt($("section#gallery ul.switchers li.current").attr('class').match(/\d+/));
            moveGallery(n, 100);
        });
    })();
</script>
{% endblock %}

{% block bottom_nav %}
<ul>
    <li><a href="#">modMine</a></li>
    <li><a href="#">Browse <i>D. melanogaster</i> genome</a></li>
    <li><a href="#">Browse <i>C. elegans</i> genome</a></li>
    <li><a href="#">Download submissions</a></li>
    <li class="last"><a href="#">Submit data</a></li>
</ul>
{% endblock %}