{% extends "layout.html" %}

{% block body %}

<div class="page">
<p>
The <a href="http://www.genome.gov/modencode/">modENCODE project</a> is described in 
<a href="http://www.ncbi.nlm.nih.gov/sites/entrez/19536255">Nature 2009 Jun 18;459(7249):927-30. 
Unlocking the Secrets of the Genome</a>. Please use this reference to cite the project.
</p>

<p>
The goal of the modENCODE project is to provide the biological research community with a comprehensive 
encyclopedia of genomic functional elements in the model organisms C. elegans and D. melanogaster. 
modENCODE is run as a Research Network and the consortium is formed by 11 primary projects, divided 
between worm and fly, spanning the domains of gene structure, mRNA and ncRNA expression profiling, 
transcription factor binding sites, histone modifications and replacement, chromatin structure, 
DNA replication initiation and timing, and copy number variation.  
The raw and interpreted data from this project is vetted by a data coordinating center (DCC) 
to ensure consistency and completeness. All the data is publicly available, 
with some restrictions on its use for 9 months following publication 
(see our <a href="http://www.genome.gov/pages/Research/ENCODE/ENCODEDataReleasePolicyFinal2008.pdf">
Publication Policy </a>). 
A feature of the modENCODE project is the extensive collection of metadata in a controlled way.  
This enables fine-grained control over presentation and queries, making it more straightforward 
for end users to find what they need and then be able to use it most effectively.
</p>

<p>In December 2010, the modENCODE consortium published <a href="http://blog.modencode.org/papers">
integrative analysis papers</a> on its data, and summary pages of the data presented in those papers
 are available for both <a href="{{ url_for('static.page', name='fly_2010pubs') }}">fly</a> and
 <a href="{{ url_for('static.page', name='worm_2010pubs') }}">worm</a>.
</p>
</div>

{% endblock %}