{% extends "layout.html" %}

{% block body %}

  <div class="page">
    modENCODE Data Coordintation Centre (DCC) collects and vets the raw and interpreted
    data of the project (see <a href=
    "http://database.oxfordjournals.org/cgi/content/full/bar023?ijkey=pCzIGdgVR6C9tRd&amp;keytype=ref">
    <i>The modENCODE Data Coordination Center: lessons in harvesting comprehensive
    experimental details</i></a> ) and release it to the community via a series of four
    tools using the extensive experimental metadata. Each tool is aimed for different
    tasks and end-users, as well as the nature and volume of modENCODE datasets.

    <ul>
      <li>modMIne: The modMine interface provides researchers with the ability to perform
      sophisticated ad hoc queries on the modENCODE data and
      metadata.</li>

      <li>GBrowse: genome browser based on the Generic Genome Browser that provides
      researchers with a convenient way to browse modENCODE data organized as a series of
      graphical tracks spanning the worm and fly genomes, alongside core datasets from
      WormBase and FlyBase</li>

      <li>modENCODE Datasets Search: it is a faceted submission filtering tool that
      allows to get easily to the desired dataset.</li>

      <li>A specialised Wiki, with information on protocols, reagents and procedures,
      accessible through modMine.</li>
    </ul>
  </div>

{% endblock %}