<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

	<title>modENCODE</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.6.2.min.js') }}"></script>
</head>
<body>
    <header>
        <div id="top">
            <div class="wrap">
                <hgroup>
                    <div id="title">
                        <p>modENCODE</p>
                    </div>
                    <p class="sub">The National Human Genome Research Institute MODel organism ENCyclopedia Of DNA Elements</p>
                </hgroup>

                <div class="div"></div>

                <div id="search">
                    <input type="text" class="text">
                    <div class="button"><input type="submit" class="button" value="Search"></div>
                </div>
            </div>
        </div>
        <nav>
            {% block nav %}{% endblock %}
        </nav>

        <p class="blurb"><span>&ldquo;</span> The <a href="http://genome.gov">National Human Genome Research Institute</a> (NHGRI)
        model organism ENCyclopedia Of DNA Elements (modENCODE) Project will try to identify all of the sequence-based functional
        elements in the <i>Caenorhabditis elegans</i> and <i>Drosophila melanogaster</i> genomes.<span>&rdquo;</span>
        </p>
    </header>
    <section id="main">
        <div class="wrap">
            {% block body %}{% endblock %}
        </div>
    </section>
    {% block gallery %}{% endblock %}
    <section id="bottom">
        <div class="wrap">
            <nav>
                {% block bottom_nav %}{% endblock %}
            </nav>
        </div>
    </section>
    <footer>Last updated: {{ time }}</footer>
</body>
</html>
