body { background:#FFF url('../img/bg.png') repeat-x top left; font-family:Arial,"Gill Sans","Gill Sans MT", "Myriad Pro",
    Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, sans-serif; }

i { font-style:italic; }

/* header */
header #top { background:#167C94; height:60px; color:#EEF0E3; font-size:11px; }
header #top div.wrap { width:1000px; margin:0 auto; position:relative; }
header #top #title { position:absolute; top:0; left:0; background:url('../img/logo.png') no-repeat top left;
    height:130px; width:153px; }
header #top #title p { height:0; overflow: hidden; width:127px; }
header #top p.sub { position:absolute; top:20px; left:170px; width:270px; }

header #top div.div { position:absolute; top:0; left:678px; border-left:1px solid #2E94AC; border-right:1px solid #3B6872;
    display:block; height:60px; width:0px; }

/* search */
header #top #search { float:right; margin-top:18px; }
header #top #search input.text { background:url('../img/search-input.png') no-repeat top left; border:0;
    padding:1px 20px 1px 30px; height:23px; width:130px; }
header #top #search div.button { -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px;
    border-radius:10px; -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow:1px 1px 2px rgba(0, 0, 0, 0.3); width:119px; border:1px solid #a15a15; margin:-1px 0 0 -20px;
    display:inline-block; height:20px; vertical-align:top; position:relative; }
header #top #search input.button { background:#f38b26;
    background:-moz-linear-gradient(top, #f38b26 0%, #d26a05 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f38b26), color-stop(100%,#d26a05));
    background:-webkit-linear-gradient(top, #f38b26 0%,#d26a05 100%);
    background:-o-linear-gradient(top, #f38b26 0%,#d26a05 100%);
    background: -ms-linear-gradient(top, #f38b26 0%,#d26a05 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f38b26', endColorstr='#d26a05', GradientType=0);
    background: linear-gradient(top, #f38b26 0%,#d26a05 100%); border:0; cursor:pointer; color:#FFF; width:119px;
    height:20px; vertical-align:top; -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px;
    border-radius:10px; -moz-box-shadow:inset 0 0 5px rgba(246, 165, 86, 1);
    -webkit-box-shadow:inset 0 0 5px rgba(246, 165, 86, 1); box-shadow:inset 0 0 5px rgba(246, 165, 86, 1);
    font-size:14px; font-weight:bold; text-shadow: 1px 1px 0px #975412; filter:dropshadow(color=#975412, offx=1, offy=1); }

/* top navigation */
header nav { width:1000px; margin:0 auto; }
header nav ul { margin:20px 0 0 145px; }
header nav ul li { display:inline; border-right:1px solid #A3DBE8; padding:0 18px; }
header nav ul li.last { border:none; padding-right:0; }
header nav ul li a { text-decoration:none; color:#167C94; font-size:16px; letter-spacing:0.5px; font-weight:bold;
    text-shadow:1px 1px 1px #FFF; padding:6px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px;
    border-radius:3px; }
header nav ul li a:hover { color:#FFF; text-shadow: 1px 1px 0px #0a2a31; filter:dropshadow(color=#0a2a31, offx=1, offy=1);
    background:#12697f; background:-moz-linear-gradient(top, #12697f 0%, #167b93 25%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#12697f), color-stop(25%,#167b93));
    background:-webkit-linear-gradient(top, #12697f 0%, #167b93 25%);
    background:-o-linear-gradient(top, #12697f 0%, #167b93 25%);
    background:-ms-linear-gradient(top, #12697f 0%, #167b93 25%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#12697f', endColorstr='#167b93', GradientType=0);
    background:linear-gradient(top, #12697f 0%,#167b93 25%); }

/* header text*/
header p.blurb { width:1000px; margin:45px auto 0; color:#167C94; text-shadow:1px 1px 1px #FFFFFF;
    letter-spacing:0.2px; }
    header p.blurb a { text-decoration:none; color:#154E5B; }
    header p.blurb a:hover { text-decoration:underline; }
    header p.blurb span { font-family:Times; font-size:20px; font-style:italic; font-weight:bold; }

article { width:1000px; margin:0 auto; margin-top:30px; }

/* modmine projects */
#modmine-projects div.box { background:#FFF; border:1px solid #d7d5c8; -moz-border-radius:5px; -webkit-border-radius:5px;
    -o-border-radius:5px; border-radius:5px; background:#fff;
    background:-moz-linear-gradient(top, rgba(215,213,200,0.7) 0%, rgba(236,234,224,1) 1%, rgba(255,255,255,0.6) 8%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(215,213,200,0.7)),
        color-stop(1%,rgba(236,234,224,1)), color-stop(8%,rgba(255,255,255,0.6)));
    background:-webkit-linear-gradient(top, rgba(215,213,200,0.7) 0%,rgba(236,234,224,1) 1%,rgba(255,255,255,0.6) 8%);
    background:-o-linear-gradient(top, rgba(215,213,200,0.7) 0%,rgba(236,234,224,1) 1%,rgba(255,255,255,0.6) 8%);
    background:-ms-linear-gradient(top, rgba(215,213,200,0.7) 0%,rgba(236,234,224,1) 1%,rgba(255,255,255,0.6) 8%);
    background:linear-gradient(top, rgba(215,213,200,0.7) 0%,rgba(236,234,224,1) 1%,rgba(255,255,255,0.6) 8%); }
#modmine-projects h3 { color:#565148; font-weight:bold; text-shadow:1px 1px 1px #e4e5e4; margin:0 0 15px 13px; }

/* modmine projects -> sidebar */
aside { border-right:1px solid #fff; width:280px; float:left; padding-top:20px; color:#24251f; }
aside ul { font-size:14px; cursor:pointer; margin:16px 0; }
aside ul li { background:url('../img/sidebar-option.png') repeat-x top left; width:266px; height:50px;
    line-height:50px; padding-left:14px; }
aside ul li.active { background:url('../img/sidebar-option-active.png') no-repeat top left; height:62px; width:285px;
    color:#FFF; padding-left:25px; font-weight:bold; text-shadow:1px 1px 1px #A5692F; line-height:56px;
    position:relative; left:-12px; bottom:-11px; margin-top:-16px; }

#content { float:left; padding:30px 0px 14px 40px; width:665px; border-left:1px solid #dfddcf; min-height:450px; }

/* modmine projects -> switchers */
#content div.category ul.switcher { height:29px; margin-top:12px; }
#content div.category ul.switcher li { display:inline-block; padding:7px 10px; cursor:pointer; margin-right:10px;
    border-bottom:1px solid #FFF; background:url('../img/organism-tab-bg.png') repeat-x top left; color:#565148;
    font-size:15px; }
#content div.category ul.switcher li.active { color:#FFF; border-bottom-color:#155463; background:rgb(22,123,147);
    background:-moz-linear-gradient(top, rgba(22,123,147,1) 0%, rgba(21,84,99,1) 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(22,123,147,1)),
        color-stop(100%,rgba(21,84,99,1)));
    background:-webkit-linear-gradient(top, rgba(22,123,147,1) 0%,rgba(21,84,99,1) 100%);
    background:-o-linear-gradient(top, rgba(22,123,147,1) 0%,rgba(21,84,99,1) 100%);
    background:-ms-linear-gradient(top, rgba(22,123,147,1) 0%,rgba(21,84,99,1) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#167b93', endColorstr='#155463',GradientType=0 );
    background:linear-gradient(top, rgba(22,123,147,1) 0%,rgba(21,84,99,1) 100%);
    -moz-box-shadow:1px 1px 2px #888; -webkit-box-shadow: 1px 1px 2px #888; box-shadow: 1px 1px 2px #888; }
#content div.category ul.switcher li span { background-position:top left; background-repeat:no-repeat; padding-left:20px;
    line-height:21px; height:21px; display:inline-block; }
#content div.category ul.switcher li.d-melanogaster span { background-image:url('../img/drosophila-brown.png');
    padding-left:23px; }
#content div.category ul.switcher li.d-melanogaster.active span { background-image:url('../img/drosophila-white.png'); }
#content div.category ul.switcher li.c-elegans span { background-image:url('../img/elegans-brown.png'); }
#content div.category ul.switcher li.c-elegans.active span { background-image:url('../img/elegans-white.png'); }
#content div.category div.separator { height:5px; display:block; width:100%; background:#155463; margin-top:7px;
    position:relative; }

/* modmine projects -> pi filter */
#content div.category div.filter { margin-top:20px; font-size:13px; }
#content div.category div.filter span { color:#70706D; font-size:13px; margin-right:5px; }
#content div.category div.filter ul { display:inline; }
#content div.category div.filter ul li { display:inline-block; margin-right:10px; padding:2px 4px; border:1px solid #155463;
    cursor:pointer; color:#155463; }
#content div.category div.filter ul li.selected { background:#155463; color:#FFF; }

/* modmine projects -> experiments */
#content div.category ul.experiments { margin-top:20px; font-size:14px; }
#content div.category ul.experiments h4 { font-size:20px; text-shadow:1px 1px 1px #F6F6F6; line-height:23px;
    margin-bottom:6px; }
#content div.category ul.experiments h4 a { text-decoration:none; }
#content div.category ul.experiments h4 a:hover { text-decoration:underline; }
#content div.category ul.experiments span { color:#70706D; font-size:13px; }
#content div.category ul.experiments li { padding:14px 5px; }
#content div.category ul.experiments li:nth-child(even) { background:#FBF9F1; }
#content div.category ul.experiments li:not(:first-child) { border-top:1px solid #E8DDC8; }
#content div.category ul.experiments div { display:inline-block; margin-right:10px; line-height:22px; }
#content div.category ul.experiments div.project { float:right; line-height:26px; vertical-align:bottom; font-size:13px;
    margin-left:10px; }
#content div.category ul.experiments div.labs, #content div.category ul.experiments div.factors { clear:both; }

#content ul.experiments a { color:#155463; }

/* gallery section */
section#gallery article { border:0; position:relative; }
section#gallery article h3 { color:#167C94; font-weight:bold; text-shadow:1px 1px 1px #FFF; }
section#gallery div.move { display:block; background-position:center left; background-repeat:no-repeat; width:16px;
    height:150px; cursor:pointer; }
section#gallery div.move.right { float:right; background-image:url('../img/arrow-right.png'); margin-left:10px; }
section#gallery div.move.left { float:left; background-image:url('../img/arrow-left.png'); margin-right:10px; }
section#gallery div.move.inactive { background:none; cursor:default; }

section#gallery div.inner { float:left; }

section#gallery div.publications { overflow:hidden; width:948px; height:150px; display:block; position:relative; }
section#gallery div.publications div.wrapper { position:absolute; }
section#gallery div.publications div.article { float:left; width:304px; margin:0 15px 100px 0; padding:10px 0;
    background:#FFF; }
section#gallery div.publications div.set { float:left; width:948px; }
section#gallery div.publications div.set div.article:last-child { margin-right:0; }
section#gallery div.publications img { float:right; border:1px solid #DDD; }
section#gallery div.publications h4,
section#gallery div.publications p { margin:0 0 5px 5px; float:left; display:inline; width:246px; }
section#gallery div.publications h4 { font-size:17px; margin-bottom:10px; color:#1B98B5; letter-spacing:-0.5px; }
section#gallery div.publications h4.small { font-size:16px; }
section#gallery div.publications p { font-size:12px; }
section#gallery div.publications a { color:#000; text-decoration:none; }

section#gallery ul.switchers { text-align:center; font-size:18px; }
section#gallery ul.switchers li { display:inline; color:#DDD; cursor:pointer; }
section#gallery ul.switchers li.current { color:#BBB; }

section#gallery article div.see-more { position:absolute; top:38px; right:-40px; display:block; width:68px; height:40px;
    background:url('../img/see-more.png') no-repeat top left; }

/* bottom links */
section#bottom article { border:0; }
section#bottom article nav { text-align:center; margin-bottom:25px; }
section#bottom article nav li { display:inline; margin-right:15px; }
section#bottom article nav li.last { margin:0; }
section#bottom article nav a { color:#70706D; text-decoration:none; font-size:14px; border-bottom:1px solid #DCDCCE; }

footer { margin:0 auto; margin-top:6px; width:1000px; text-align:center; color:#70706D; font-size:13px; }